
.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.title {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #000000;
}




