.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 25px;
  width: auto;
  border-radius: 55px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #1A1A1A;
  cursor: pointer;
}

.yellow {
  border: none;
  background-color: #FFE44D;
}

.white {
  border: 1px solid #ECEFF1;
  background-color: #fff;
}